Data Source: https://github.com/owid/covid-19-data/tree/master/public/data

In [3]:
import pandas as pd

In [11]:
df = (
    pd.read_csv("covid-latest.csv")[['iso_code','location','total_cases_per_million','population_density','aged_65_older','total_tests_per_thousand','people_fully_vaccinated_per_hundred','hospital_beds_per_thousand']]
)

df.head()

,iso_code,location,total_cases_per_million,population_density,aged_65_older,total_tests_per_thousand,people_fully_vaccinated_per_hundred,hospital_beds_per_thousand
0,AFG,Afghanistan,5102.219,54.422,2.581,NaN,33.37,0.50
1,OWID_AFR,Africa,9156.398,NaN,NaN,NaN,29.82,NaN
2,ALB,Albania,117413.323,104.871,13.188,NaN,NaN,2.89
3,DZA,Algeria,6047.271,17.348,6.211,NaN,NaN,1.90
4,ASM,American Samoa,187854.160,278.205,NaN,NaN,NaN,NaN

In [12]:
# df.to_csv("covid-data.csv", encoding='utf-8')